@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #F0F0F0;
  background-color: #000000;
  position:relative ;

  
}

footer{
  position: fixed;
  bottom: 25px;
  left: 35px;
}
